@media (max-width: 565px) {
    body {
        padding: 0;
    }

    .banner-img {
        padding: 0;
    }

    .banner-img img {
        border-radius: 0;
    }

    .container {
        margin: 0;
    }
}

@media (max-width: 375px) {
    body {
        padding: 0;
    }

    .banner-img {
        padding: 0;
    }

    .banner-img img {
        border-radius: 0;
    }

    .container {
        margin: 0;
    }

    .hero h1 {
        font-size: 3.2rem;
    }

    .hero h1, .hero p {
        margin-top: 2rem;
    }
}